<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            {% stylesheets
                'css/bootstrap.css'
                'bundles/mh3upcore/css/*'
                'bundles/mh3upmenu/css/*'
                filter='cssrewrite'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>

    <div id="wrapper">
        {% block body %}

            {% block menu_container %}
                {% include 'mh3upMenuBundle:Menu:base.html.twig' %}
            {% endblock %}

            <div id="page-wrapper">
                {% block main_container %}
                {% endblock %}
            </div>

        {% endblock %}
    </div>

    {% block javascripts %}
        {% javascripts
            'js/jquery.js'
            'js/bootstrap.js'
            'bundles/mh3upmenu/js/*'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>
</html>


