<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url('core_homepage') }}">Monster Hunter Helper</a>
    </div>

    {#{% include 'mh3upMenuBundle:Menu:navbar.html.twig' %}#}

    {% include 'mh3upMenuBundle:Menu:sidebar.html.twig' %}
</nav>