<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ news_content.title }}
            <small class="pull-right text-muted">
                {{ news_content.createdAt | date("d/m/Y H:i") }}
            </small>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    {{ news_content.content }}
                </div>
            </div>
        </div>
    </div>
</div>