{% extends 'CoreCoreBundle::layout.html.twig' %}

{% block main_container %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Combination List</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Combination List
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        {% include 'MH3UCombinationBundle:Combination:combination-details.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}