<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        {{
            knp_menu_render(
                'mh3u_sidebar',
                {
                    'currentClass': 'active'
                }
            )
        }}
    </div>
</div>